<section class="md:pt-32 md:pb-48 pb-5 bg-no-repeat bg-cover bg-center md:min-h-screen header-banner relative z-10"
    style="--gradien-bg: linear-gradient(to bottom, #1650f9, #153ff3 80%, #0b73f3);">
    <div class="absolute bottom-0 left-0 w-full z-0" id="canvas" data-dot-connect="canvas"></div>
    <div class="container px-3 mx-auto flex md:flex-row flex-col items-center relative z-0">
        <div class="w-1/2 md:order-1 order-2 text-center text-white ">
            <h1 class="md:text-4xl text-lg font-bold uppercase">
                discover the new econom y
            </h1>
            <p>Block port offers the easiest way to buy and sell cryptocurrency</p>
            <a href="./register.html"
                class="my-3 px-5 py-2 bg-white hover:bg-blue-600 text-blue-600 hover:text-white text-center rounded text-md inline-block">Create
                new account</a>
            <div class="block font-bold underline">
                <a href="./login.html">Sign in</a>
            </div>

        </div>
        <div class="w-1/2 order-1 text-center relative">
            <img src="{{img('header-banner.jpg')}}" alt="" class="max-w-full mx-auto relative z-0">

            <div class="absolute bottom-0 left-0 w-full z-10" id="canvas2" data-dot-connect="canvas2"></div>
        </div>
    </div>

    <ul id="currency_rating" class="list-none container px-3 mx-auto md:flex relative z-10">
        <li class="w-1/6 mr-2">
            <a href="#" class="block py-2 md:px-5 px-3 bg-white rounded flex flex-col">
                <span class="text-lg text-blue-600 font-bold">Bitcoin</span>
                <span class="text-blue-600">€ 6,000.99</span>
                <div class="text-teal-400">
                    <span class="mr-1">24h</span>
                    <span class="mr-1">+2.305%</span>
                </div>
            </a>
        </li>
        <li class="w-1/6 mr-2">
            <a href="#" class="block py-2 md:px-5 px-3 bg-white rounded flex flex-col">
                <span class="text-lg text-blue-600 font-bold">Bitcoin Cash</span>
                <span class="text-blue-600">€ 6,000.99</span>
                <div class="text-black">
                    <span class="mr-1">24h</span>
                    <span class="mr-1">0%</span>
                </div>
            </a>
        </li>
        <li class="w-1/6 mr-2">
            <a href="#" class="block py-2 md:px-5 px-3 bg-white rounded flex flex-col">
                <span class="text-lg text-blue-600 font-bold">Bitcoin</span>
                <span class="text-blue-600">€ 6,000.99</span>
                <div class="text-teal-400">
                    <span class="mr-1">24h</span>
                    <span class="mr-1">+2.305%</span>
                </div>
            </a>
        </li>
        <li class="w-1/6 mr-2">
            <a href="#" class="block py-2 md:px-5 px-3 bg-white rounded flex flex-col">
                <span class="text-lg text-blue-600 font-bold">Bitcoin</span>
                <span class="text-blue-600">€ 6,000.99</span>
                <div class="text-red-400">
                    <span class="mr-1">24h</span>
                    <span class="mr-1">-2.305%</span>
                </div>
            </a>
        </li>
        <li class="w-1/6 mr-2">
            <a href="#" class="block py-2 md:px-5 px-3 bg-white rounded flex flex-col">
                <span class="text-lg text-blue-600 font-bold">Ethereum</span>
                <span class="text-blue-600">€ 6,000.99</span>
                <div class="text-red-400">
                    <span class="mr-1">24h</span>
                    <span class="mr-1">-2.305%</span>
                </div>
            </a>
        </li>
        <li class="w-1/6 mr-2">
            <a href="#" class="block py-2 md:px-5 px-3 bg-white rounded flex flex-col">
                <span class="text-lg text-blue-600 font-bold">Bitcoin Cash</span>
                <span class="text-blue-600">€ 6,000.99</span>
                <div class="text-black">
                    <span class="mr-1">24h</span>
                    <span class="mr-1">0%</span>
                </div>
            </a>
        </li>
    </ul>

</section>