<header id="header" class="z-20 fixed top-0 left-0 w-screen" style="--header-bg: #1650f9;">
    <div class="container px-3 mx-auto text-white">
        <div class="flex justify-between items-center">
            <a href="./index.html" class="block w-40 p-2">  
                <img src="{{img('logo.png')}}" alt=" " class="w-full">
            </a>
            <nav id="navbar" class="flex justify-center flex-grow">
                <ul class="list-none md:inline-flex flex md:flex-row flex-col items-center">
                    <li><a href="./index.html" class="block py-2 px-3">Home</a></li>
                    <li><a href="./buy.html" class="block py-2 px-3">Buy</a></li>
                    <li><a href="./sell.html" class="block py-2 px-3">Sell</a></li>
                    <li><a href="/wallet.html" class="block py-2 px-3">Wallet</a></li>
                    <li><a href="./contact.html" class="block py-2 px-3">Contact</a></li>
                </ul>
            </nav>
            <aside id="sidebar" class="flex md:flex-row flex-col items-center py-2">
                <div class="flex flex-col md:border-r border-white px-3 md:w-auto w-full">
                    EURO
                </div>
                <div class="flex flex-row md:w-auto w-full md:px-0 px-3">
                    <a href="./login.html" class="block md:w-auto w-1/2 px-3 border-r border-white">Sign in</a>
                    <a href="./register.htm;" class="block md:w-auto w-1/2 px-3">Create new account</a>
                </div>
            </aside>
        </div>
    </div>
</header>